body{
    background-color: #808080;
    margin: 0;
    padding: 0;
}

h3{
    background: #1f2937;
    color: #808080;
    padding: 12px 24px;
    display: flex;
    justify-content: center;
    font-size: 46px;
    margin: 0;
}
.ll{
    font-size: 20px;
    padding-bottom: 50px;
}
.imgg{
    text-align: center;
}

.para{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

.loo {
    text-align: center;
    font-size: 24px;
    font-family: 'Arial Narrow', Arial, sans-serif;
}
ul{
    font-size: 20px;
}
