h1{
    background: #1f2937;
    color: #808080;
    padding: 14px 28px;
    display: flex;
    text-align: justify;
    justify-content: center;
    font-size: 46px;

}
body{
    background-color: #d3d3d3;
}