h1{
    background: #1f2937;
    color: #808080;
    padding: 14px 28px;
    display: flex;
    text-align: justify;
    justify-content: center;
    font-size: 46px;
    padding: 0;
    margin: 0;

}
.hod{
    
    background-color: #d3d3d3;
    width: 250px;
    height: 350px;
    margin: 0 auto;
    padding: 0 auto; 
    border-radius: 10px;
    text-align: center;
    
}
.hod p{
    font-weight:bold;
}
.hod img{
    width: 200px;     
  height: 250px;    
  object-fit: cover; 
  border-radius: 8px; 
  display: block;    
 margin: 0 auto; 
  background-color: #d3d3d3;
}
body{
    background-color: #808080;
}
h3{
    margin-left: 20px;
    text-transform: uppercase;
}

